* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home
  {
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .add-money {
    /* background-image: url('../public/images/img-2.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #0b0a0a;
    
    /* font-size: 100px; */
  }
  
  
  
  .aboutus {
    /* background-image: url('../public/images/img-1.jpg'); */
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #0b0a0a;
  
    font-size: 100px;
  }
  .contact-us {
    /* background-image: url('../public/images/img-1.jpg'); */
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color:  #0b0a0a;
  
    font-size: 100px;
  }
  
  /* .sign-up {
    background-image: url('../public/images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  } */
  
  /* .Register {
    background-image: url('../public/images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  } */